<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Support chat login</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Character creator for desktop RPG" />
	<meta name="keywords" content="test" />
	<meta name="author" content="Martin" />
	

